<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Chat</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
#container {
    width:100%;
    text-align:center;
}

#left {
    float:left;
    width:100px;
}

#center {
    display: inline-block;
    margin:0 auto;
    width:100px;
}

#right {
    float:right;
    width:200px;
}
</style>
<body>

<div id="container">
	<div id="center">
		<h1>Chat</h1>
	</div>
	<div id="left">
		<br></br><br></br><br></br>
		<table>
			<tr>
				<th>ID</th>
			</tr>
			<tr th:each="prod : ${Ids}">
				<td th:text="${prod.id}"></td>
			</tr>
		</table>


	</div>
	<div id="right">
		<br></br>
		<button id="demo" onclick="copyToClipboard(document.getElementById('chatIdToCopy').innerHTML)"
				data-bind="visible: activePollingXhr() != null" >Show id</button>

		<div id="chatIdToCopy" style="display: none;"></div>


		<form id="joinChatForm" th:action="@{/userChat}" data-bind="visible: activePollingXhr() == null">
			<p>
				<label for="user">User: </label>
				<input id="user" name="user" type="hidden" data-bind="value: userName" value="123"/><br></br>
				<label for="chatId">token : </label>
				<input id="chatId" name="chatId" type="text" data-bind="value: chatId"/>
				<input name="messages" type="hidden" data-bind="value: messages"/>
				<button id="start" type="submit" data-bind="click: joinChat">Join Chat</button>
				<button id="start1" type="submit" data-bind="click: joinChat">Create chat token</button>
			</p>
		</form>

		<form id="leaveChatForm" th:action="@{/userChat}" data-bind="visible: activePollingXhr() != null">
			<p>
				You're chatting as <strong data-bind="text: userName"></strong>
				<button id="leave" type="submit" data-bind="click: leaveChat">Leave Chat</button>
			</p>
		</form>

		<div data-bind="visible: activePollingXhr() != null">
			<textarea rows="15" cols="60" readonly="readonly" data-bind="text: chatContent"></textarea>
		</div>

		<form id="postMessageForm" th:action="@{/userChat}" data-bind="visible: activePollingXhr() != null">
			<p>
				<input id="message" name="message" type="text" data-bind="value: message" />
				<button id="post" type="submit" data-bind="click: postMessage">Post</button>
			</p>
		</form>
	</div>
</div>


</body>
<script type="text/javascript" src="../../../resources/js/jquery-1.7.2.min.js" th:src="@{/resources/js/chat/jquery-1.7.2.min.js}"></script>
<script type="text/javascript" src="../../../resources/js/knockout-2.0.0.js" th:src="@{/resources/js/chat/knockout-2.0.0.js}"></script>
<script type="text/javascript" src="../../../resources/js/chat.js" th:src="@{/resources/js/chat/UserChat.js}"></script>

</html>
